__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
Dockerfile
docker-compose.yml
omniscan.log
omniscan.log.*
history.db
history.db-journal
missing_files_history.json
config.ini
config.ini.bak
venv
.env
.vscode
.idea
